<p style="color: green"><%= notice %></p>

<div class="collectionShow">
  <img src="<%= @collection.image_url %>" class="collectionImage">
  
  <div class="collectionInfo">
    <div class="dateAndActions">
      <p class="createdAt">
        <%= @collection.created_at.strftime("%-d %B %Y в %H:%M") %>
      </p>
      <div>&#8230;</div>

    </div>

    <div class="selectedTags"> <%= render @collection.selected_tags %> </div>

    <h1 class="collectionTitle"> <%= @collection.title %> </h1>

    <p class="collectionDescription"> <%= @collection.description %> </p>

    <div> <%= render @collection.items %> </div>
    
  </div>
</div>

<div class="backToCollections">
  <%= link_to "⬅", collections_path %>
</div>

<div class="collectionComments">
  <h2>Комментарии</h2>
  
  <% if @collection.comments.any? %>
    <%= render @collection.comments %>
  <% else %>
    <p>Пока нет комментариев.</p>
  <% end %>
</div>

<div class="addCollectionComment">
  <h3>Добавить комментарий</h3>
  <%= render "comments/form" %>
</div>
