<p style="color: green"><%= notice %></p>

  <h1>
    <%= @collection.title %>
  </h1>

  <p>
    <%= @collection.description %>
  </p>

  <p>
    <%= @collection.image_url %>
  </p>

  <p>
    <%= @collection.created_at %>
  </p>


  <div class="selectedTags">
    <%= render collection.selected_tags %>
  </div>


<div>
  <%= link_to "Edit this collection", edit_collection_path(@collection) %> |
  <%= link_to "Back to collections", collections_path %>

  <%= button_to "Destroy this collection", @collection, method: :delete %>
</div>

<div>
  <%= render @collection.items %>
</div>
