<div id="<%= dom_id comment %>">
  <p>
    <strong>Id:</strong>
    <%= comment.id %>
  </p>

  <p>
    <strong>Collection:</strong>
    <%= comment.collection_id %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= comment.content %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= comment.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= comment.updated_at %>
  </p>

</div>
