<%= form_with(model: selected_tag) do |form| %>
  <% if selected_tag.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(selected_tag.errors.count, "error") %> prohibited this selected_tag from being saved:</h2>

      <ul>
        <% selected_tag.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :id, style: "display: block" %>
    <%= form.number_field :id %>
  </div>

  <div>
    <%= form.label :tag_id, style: "display: block" %>
    <%= form.number_field :tag_id %>
  </div>

  <div>
    <%= form.label :collection_id, style: "display: block" %>
    <%= form.number_field :collection_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
